process {
    withName:annotate_variants {
        container = '/mnt/home3/ajr236/nextflow_pipelines/nf-core-sarek-dev/singularity-images/depot.galaxyproject.org-singularity-snpeff-5.0--hdfd78af_1.img'
    }
}

singularity {
    enabled = true
    autoMounts = true
}

env {
  PYTHONNOUSERSITE = 1
}
